.add-product {
    .ant-row {
        margin-bottom: 15px;
        .label {
            margin-right: 30px;
            height: 34px;
            line-height: 34px;
            text-align: right;
            color: #333;
            font-size: 14px;
            font-weight: 700;
        }
        .ant-input {
            height: 34px;
        }
        .select {
            width: 200px;
        }
        //上传图片列表
        .upload-list-inline {
            .ant-upload-list-item {
                float: left;
                width: 200px;
                margin-right: 8px;
            }
            .ant-upload-animate-enter {
                animation-name: uploadAnimateInlineIn;
            }
            .ant-upload-animate-leave {
                animation-name: uploadAnimateInlineOut;
            }
        }
    }
}